<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--    Никак не могу подключить css ='(-->
    <link rel="stylesheet" type="text/css" th:href="@{WEB-INF/css/cars.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cars.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/WEB-INF/css/cars.css}" media="all">

</head>
<body>
<div style="padding-left:305px;">
    <table>
        <tbody>
        <tr>
            <th>id</th>
            <th>Model</th>
            <th>Series</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td class="c1" th:text="${car.getId()}">id</td>
            <td class="c2" th:text="${car.getModel()}">model</td>
            <td class="c3" th:text="${car.getSeries()}">series</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>